.sidebarOptions{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    cursor: pointer;
    width: 220px !important;
}


.sidebarOptions:hover{
    background-color: #e8f5fe;
    width: 200px !important;
    border-radius: 30px;
    color: var(--main-color);
    transition: color 100ms ease-out;
}

.sidebarOptions>.MuiSvgIcon-root{
    padding: 10px 15px;
}

.sidebarOptions{
    font-weight: 600;
    font-size: 14px;
    /* margin-right: 20px; */

}

.done_icon{
    color: var(--main-color) !important;
}

@media screen and (max-width:688px) {
    .sidebar_tweet{
        display: none;
    }
}